{% extends "BookingRooms/__base__.html" %}

{% block title %}Edytuj salkę{% endblock %}

{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        <form method="post">
            {% csrf_token %}
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="color-header text-uppercase">Rezerwuj salkę {{ room_id }}: </h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Zapisz</button>
                    </div>
                </div>
                <table class="table borderless">
                    <tbody>
                    <tr class="d-flex">
                        <th scope="row" class="col-3">Nazwa salki: </th>
                        <td class="col-7">{{ room_name }}</td>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-3">Data:</th>
                        <td class="col-7"><input type="date" name='date' value="{{ day }}" min="{{ today }}">
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-3">Komentarz:</th>
                        <td class="col-7"><input type="text" name='comment' class="w-100 p-1">
                        </td>
                    </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-3">Rezerwacje</th>
                    <td class="col-8">{% if bookings %}
                        {% for booking in bookings %}
                            <li>{{ booking.date }}</li>
                        {% endfor %}
                    {% else %}
                        <ol>Brak rezerwacji tej sali</ol>
                    {% endif %}</td>
                </tr>
                    </tbody>
                </table>

            </div>
        </form>
    </div>


{% endblock content %}