{% extends "BookingRooms/__base__.html" %}
{% block title %}Testuję{% endblock title %}
{% block content %}

    <title>Testowa strona Django</title>
    <style>
        body {
            font-family: Arial, sans-serif
            font-size: 16px;
            background: #999;
            color: #333;
        }
    </style>
<body>
    <h1>Ja żyję!</h1>
    <p>Jeśli widzisz ten napis, to znaczy, że aplikacja
        <strong>Django</strong> została skonfigurowana poprawnie
        i możesz zacząć kodować! ( ͡° ͜ʖ ͡°)
    </p>
    <footer>
        <p>Data wygenerowania strony: {{ actual_date }}</p>
    </footer>

{% endblock content %}